<% if(!isLogin){ %>
    <%- include('../common/headerLogOut.ejs'); %>
<% } else{ %>
    <%- include('../common/headerLogIn.ejs'); %>
<% } %>

<link type="text/css" href="../style/game.css" rel="stylesheet">

<div id="game-info-container">
    <div id="cover-image">
        <img id="cover-image-src" alt="game cover" src="<%= encodeURI(gameCoverSrc) %>" width="510"/>
    </div>

    <div id="game-info">
        <h1 id="game-title"><%= gameTitle %></h1>
        <p id="game-release">Released: <%= gameReleaseMonth %>, <%= gameReleaseYear %></p>
        <p id="game-dev">Developer: <%= gameDev %></p>
        <p id="game-genre">Genre: <%= gameGenre %></p>
        <p id="game-mode">Modes: <%= gameModes %></p>
        <p id="game-age-rating">Age rating: <%= gameAgeRating %></p>
        <p id="game-desc"><%= gameDesc %></p>
    </div>

</div>
<div id="game-rating">
    <h2>Ratings: </h2>
    <p>Gameplay: <%= gameplayScore %>/100</p>
    <p>Graphics: <%= graphicScore %>/100</p>
    <p>Sounds: <%= soundScore %>/100</p>
    <p>Art Direction: <%= artScore %>/100</p>
    <p>Replay-ability: <%= replayScore %>/100</p>
    <p>Story: <%= storyScore %>/100</p>
</div>

<% if(!isLogin){ %>
<% } else{ %>
    <%- include('../common/reviewForm.ejs'); %>
<% } %>


<%- include('../common/footer.ejs'); %>